extends ../../main.pug

block variables
    - var bodyClass = 'process'

block breadcrumbs    
    +breadcrumbs('Технологический процесс', {href: 'home.html', name: 'Главная'}, { href: '#', name: 'О ПЩЗ'})

block main
    .container
        .row
            .col-xs-12
                article.article
                    h2 Подготовка горной массы к выемке
                    p Обуривание блоков на карьере осуществляется   с применением буровой установка SANDVIK Tamrock PANTERA 1500.
                    p Взрывание обуренных блоков осуществляется с использованием промышленных ВВ с применением неэлектрической системы инициирования (Эделин). Эта система позволяет управлять взрывом, исключая переизмельчение горной массы и сокращая выход негабаритных кусков.
                    p Разделка негабаритных кусков горной массы осуществляется с применением гидравлического молота Delta Clean F-45-S на базе экскаватора Komatsu PS -360.
                    p Экскавация горной массы осуществляется экскаваторами ЭКГ-5А в количестве 2-х единиц на добыче горной массы и 1-й единицы на вскрыше пустых пород. При погрузке горной массы не допускается погрузка кусков с линейным размером более 900 мм.
                    p Транспортировка горной массы осуществляется карьерными автосамосвалами БЕЛАЗ 7547 грузоподъемностью 45 тонн в количестве 3 единиц. Расстояние от добычных блоков карьера до приемного бункера Дробильно-сортировочного комплекса составляет 1,8 км, от вскрышных блоков до отвала пустых пород – 0,9  км.
                    img.article__image(src=require('./process-01.jpg').default)
                    img.article__image.article__image_right(src=require('./process-02.jpg').default)
                    p Взорванная горная масса из карьера автосамосвалами БЕЛАЗ 7547 доставляется к приемному бункеру корпуса первичного дробления. Из бункера пластинчатым питателем 1-18-120 горная масса с крупностью куска не более 0,9  м подается в щековую дробилку OSBORN 4248.
                    p Дробленый продукт фр. 0-230 мм вместе с просыпями питателя ленточным конвейером К-1 транспортируется в корпус вторичного и третичного дробления, где поступает в конусную дробилку Telsmith-57SBS-SP с выпускной щелью 32 мм.
                    p Дробленый продукт фр. 0-120 подается ленточным конвейером в корпус сортировки и классификации, где с помощью реверсивного конвейера загружается в 4 аккумулирующие бункера общим объемом 450 м<sup>3</sup>. Из бункеров материал распределяется вибрационными питателями на 4 вибрационных грохота ГИС – 52. На грохотах устанавливаются два сита: верхнее – 55 мм, нижнее – 25 мм.
                    p Надрешетный продукт с верхних сит грохотов ленточными конвейерами подается в корпус вторичного и третичного дробления, где поступает на дробилку с горизонтальным ротором  Telsmith - 5252 HSI с выпускной щелью 12  мм.
                    p Надрешетный продукт с нижних сит грохотов представляющий собой щебень фракции 25-60 транспортируется на склад щебня.
                    p Подрешетный продукт нижних сит грохотов подается на следующий каскад грохотов ГИС – 52, где производится его разделение на фракцию 5-25 мм и 0-5 мм которые по конвейеру транспортируются на склад, где распределяются на места хранения соответствующих фракций.
                    p Отгрузка продукции со складов на железнодорожный транспорт производится через подземную    галерею с помощью ленточных конвейеров, а также с применением фронтального погрузчика Stalowa Wola -560 объемом ковша 5 м<sup>3</sup>.
                    h2 Склады готовой продукции
                    img.article__image.article__image_left(src=require('./process-03.jpg').default)
                    p Щебень хранится на складах готовой продукции открытого типа в форме конусов, образующихся заполнением их с ленточных конвейеров эстакады со сбрасывающими тележками. Проектная емкость складов готовой продукции определяется семисуточным запасом и составляет:
                    ul
                        li фракция 25-60 - 9700 м<sup>3</sup>;
                        li фракция 5-25 - 17150 м<sup>3</sup>.
                    p Проектом предусмотрено складирование единовременно не более 1500  м<sup>3</sup> песка. Далее его следует вывозить и укладывать на внешний склад.
