section.request
    img.request__image(src=require('./request.png').default)
    div.request__fieldset
        span.request__heading Оставьте заявку, и мы свяжемся с вами для обуждения условий сотрудничества, подходящих вам
        form.form.request__form
            div.form__field
                input.form__input(id='name' required type='name')
                label.form__label(for='name') ФИО
            div.form__field
                input.form__input(id='tel' required type='tel')
                label.form__label(for='tel') Контактный номер
            input.button.form__submit.request__submit(type='submit' value='Начать сотрудничество!')
