extends ../../main.pug

block variables
    - var bodyClass = 'product-catalog'
    - var bButton = { href: require('../../blocks/header/price.pdf').default, title: 'Скачать прайс-лист' }

block breadcrumbs    
    +breadcrumbs('Каталог продукции', {href: 'home.html', name: 'Главная'})

block main
    -
        var products = [
            { src: '01', heading: 'Щебень фр. 5-20 мм, лещадность <10 %' },
            { src: '01', heading: 'Щебень фр. 5-20 мм, лещадность <15 %' },
            { src: '02', heading: 'Щебень фр. 20-40 мм' },
            { src: '03', heading: 'Щебень фр. 40-70 мм' },
            { src: '01', heading: 'Щебень фр. 5-20 мм, лещадность <10 %' },
            { src: '01', heading: 'Щебень фр. 5-20 мм, лещадность <15 %' },
            { src: '02', heading: 'Щебень фр. 20-40 мм' },
            { src: '03', heading: 'Щебень фр. 40-70 мм' },
            { src: '01', heading: 'Щебень фр. 5-20 мм, лещадность <10 %' },
            { src: '01', heading: 'Щебень фр. 5-20 мм, лещадность <15 %' },
            { src: '02', heading: 'Щебень фр. 20-40 мм' },
            { src: '03', heading: 'Щебень фр. 40-70 мм' },
        ]
    
    section.catalog
        aside.aside
            div.aside__type
                div.form__checkbox
                    input(type='checkbox' id='sheben')
                    label(for='sheben')
                        span Щебень
                div.form__checkbox
                    input(type='checkbox' id='pesok')
                    label(for='pesok')
                        span Песок из отсевов
                div.form__checkbox
                    input(type='checkbox' id='smes')
                    label(for='smes')
                        span Смесь
            div.aside__fractions
                span.aside__heading Фракции, мм
                div.aside__field
                    span от
                    input(type='number' value='0' min='0' max='50').form__input.input-min
                    span до
                    input(type='number' value='50' min='0' max='50').form__input.input-max
                include ../../blocks/range/range.html
        .container
            .catalog__sort
                button.button.catalog__filter 
                    img(src=require('./filter.png').default)
                include ../../blocks/select/select.pug
            .row
                each product in products
                    a.catalog__col.col-xs-6.col-md-4.col-xl-3(href='product.html')
                        img.catalog__thumbnail(src=require('./catalog-' + product.src + '.png').default) 
                        span.catalog__heading= product.heading
                        span.catalog__standart ГОСТ 8267-93
                        .catalog__properties
                            p Порода: 
                                strong Габбро-Диабаз
                            p Марка по прочности: 
                                strong 1400
                            p Лещадность: 
                                strong <10%
                            p Морозостойкость: 
                                strong F300
                        span.catalog__currency Цена руб./т. с учетом НДС
                        span.catalog__price 500 ₽
                    
                    
