section.appeal
    div.container
        div.row.appeal__row
            div.col-xs-12.appeal__column
                span.appeal__heading Уважаемые партнеры!
            div.col-xs-12.col-lg-6.appeal__column
                p.appeal__paragraph Приоритет нашей Компании – выяснить, что является для Вас первоочередным и важным при покупке нашей продукции.
                p.appeal__paragraph Мы настроены, избавить Вас от проблем и создать для Вас самые выгодные условия. Да, мы не продаем дешево, но мы уверены, что качество нашей продукции, индивидуальный подход и Ваша удовлетворенность принесут Вам материальную выгоду.
            div.col-xs-12.col-lg-6.appeal__column
                p.appeal__paragraph Вся наша продукция сертифицирована, имеет паспорта качества и целиком отвечает требованиям заказчика.
                p.appeal__paragraph Будем рады пообщаться и предложить вам наиболее привлекательные индивидуальные условия сотрудничества.
                hr.appeal__hr(align='left' color='#fd5d4e' noshade size=5 width=128)
                div.appeal__signature
                    img.appeal__thumbnail(src=require('./__thumbnail/appeal__thumbnail.png').default)
                    div
                        p.appeal__name Локтионов Альберт
                        p.appeal__position Директор ООО «Торговый дом «Пермский Щебеночный Завод»»
                
