section.process
    img.process__background(src=require('../../assets/process.png').default)
    div.container
        a.button.process__link(href='process.html') Как устроен технологический процесс?
