section.cooperate
    div.container
        div.row
            div.col-xs-12
                h2.heading-2.cooperate__heading На протяжении многих лет мы взаимовыгодно сотрудничаем с
        div.row.cooperate__row
            div.col-xs-12.col-md-6.cooperate__column
                img.cooperate__icon(src=require('./__icon/cooperate__icon-01.png').default)
                span.cooperate__name Строительными компаниями
            div.col-xs-12.col-md-6.cooperate__column
                img.cooperate__icon(src=require('./__icon/cooperate__icon-02.png').default)
                span.cooperate__name Производителями бетона
            div.col-xs-12.col-md-6.cooperate__column
                img.cooperate__icon(src=require('./__icon/cooperate__icon-03.png').default)
                span.cooperate__name Дорожными компаниями
            div.col-xs-12.col-md-6.cooperate__column
                img.cooperate__icon(src=require('./__icon/cooperate__icon-04.png').default)
                span.cooperate__name Частными лицами
