footer.footer
    div.footer__contacts
        div.footer__container
            div.footer__row
                div.footer__column
                    h2.footer__heading Контакты
                div.footer__column
                    img(src=require('./footer.png').default, width=47)
                    div.footer__content
                        h3.footer__subheading Завод
                        p.footer__address 618870, Пермский край, Горнозаводский район, рабочий поcелок Теплая гора, ул. Советская, 5, помещение 18
                div.footer__column
                    img(src=require('./footer.png').default, width=47)
                    div.footer__content
                        h3.footer__subheading Офис
                        p.footer__address 614000, г. Пермь, ул. Петропавловская, д.41, офис 220.
                        a.footer__phone(href='tel:+73422590052') +7 (342) 259-00-52
    div#map
