mixin expansion()
    .expansion
        .expansion__header
            div
                span.expansion__title Менеджер по продажам
                span.expansion__price 40 000 ₽ + %
            button.expansion__indicator
                img(src=require('../../blocks/expansion/__indicator/expansion__indicator.png').default)
        .expansion__body
            div
                p Обязанности:
                ul
                    li Поиск потенциальных клиентов.
                    li Переговоры на стороне клиента.
                    li Прием и обработка заказов.
                    li Ведение клиентской базы.
                    li Выполнение плана продаж.
                    li Контроль оплаты товаров и услуг клиентами.
                p Требования:
                ul
                    li Опыт работы в продажах от 2х лет.
                    li Умение мотивировать клиента на покупку.
                    li Уверенный пользователь ПК.
                    li Знание английского языка на уровне Intermediate и выше.
                    li Опыт работы с CRM-системой будет вашим преимуществом .
                p Условия:
                ul
                    li Рабочий день с 9:00 до 18:00.
                    li Официальное трудоустройство.
                    li Просторный офис.
                    li Чай, кофе и сладости за счет компании.
                p Зарплата:  40 000 + %
            button.button.expansion__button Отправить резюме
