section.work-with-us
    div.container
        div.row
            div.col-xs-12
                h2.heading-2.work-with-us__heading Почему стоит работать с нами
        div.row.work-with-us__row
            div.col-xs-12.col-md-6.work-with-us__column
                img.work-with-us__icon(src=require('./__icon/work-with-us__icon-01.png').default)
                p.work-with-us__paragraph 25 млн м<sup>3</sup> разведанных запасов на карьере
            div.col-xs-12.col-md-6.work-with-us__column
                img.work-with-us__icon(src=require('./__icon/work-with-us__icon-02.png').default)
                p.work-with-us__paragraph Постоянный мониторинг качества продукции в сертифицированной лаборатории
            div.col-xs-12.col-md-6.work-with-us__column
                img.work-with-us__icon(src=require('./__icon/work-with-us__icon-03.png').default)
                p.work-with-us__paragraph Полностью сопровождаем вашу сделку: от выбора продукции до доставки 
            div.col-xs-12.col-md-6.work-with-us__column
                img.work-with-us__icon(src=require('./__icon/work-with-us__icon-04.png').default)
                p.work-with-us__paragraph Предлагаем индивидуальные условия сотрудничества, исходя из вашей задачи
