div.submenu.submenu_certs
    ul.submenu__list
        li.submenu__item
            a.submenu__link(href='docs.html') Нормативные документы
        li.submenu__item
            a.submenu__link(href='certs.html') Сертификаты
