div.submenu
    ul.submenu__list
        li.submenu__item
            a.submenu__link(href='about.html') О заводе
        li.submenu__item
            a.submenu__link(href='#') Технологический процесс
        li.submenu__item
            a.submenu__link(href='news.html') Новости и статьи
        li.submenu__item
            a.submenu__link(href='reviews.html') Отзывы
    
