//- select
//-     option(value="hide") Сортировать
//-     option(value="asc") Цена по возрастанию
//-     option(value="desc") Цена по убыванию

.select
    span Сортировать
    ul.select__options
        li.select__option(data-value='asc') Цена по возрастанию
        li.select__option(data-value='desc') Цена по убыванию
    
