.breadcrumbs__item
    color: #6c7176
    font:
        size: 13px
        weight: 500

    &:not(:first-of-type)
        &::before
            content: '-'
            padding:
                left: 3px
                right: 3px
