header.header
    button.header__price Скачать прайс
    a.header__vacancies(href="#") Вакансии
    span.header__address г. Пермь, ул. Петропавловская, д. 41, офис 220
    div.header__wrap
        a.header__phone(href='tel:+73422590052') +7 (342) 259-00-52
        button.header__action Оставить заявку
