section.achievements
    div.container
        div.row
            div.col-xs-12.col-sm-6.col-xl-3.achievements__column
                div.achievements__icon
                    img(src=require('./__icon/achievements__icon_01.png').default)
                div.achievements__content
                    span.achievements__heading <strong>5</strong> млн
                    p.achievements__paragraph тонн щебня произведено за 2017-2019 год
            div.col-xs-12.col-sm-6.col-xl-3.achievements__column
                div.achievements__icon
                    img(src=require('./__icon/achievements__icon_02.png').default)
                div.achievements__content
                    span.achievements__heading <strong>26</strong> млн
                    p.achievements__paragraph тонн щебня отгружено за 2017-2019 год
            div.col-xs-12.col-sm-6.col-xl-3.achievements__column
                div.achievements__icon
                    img(src=require('./__icon/achievements__icon_03.png').default)
                div.achievements__content
                    span.achievements__heading <strong>80</strong>
                    p.achievements__paragraph вагонов имеем возможность отгружать в сутки
            div.col-xs-12.col-sm-6.col-xl-3.achievements__column
                div.achievements__icon
                    img(src=require('./__icon/achievements__icon_04.png').default)
                div.achievements__content
                    span.achievements__heading <strong>15 000</strong>
                    p.achievements__paragraph автомобилей отгрузили за 2017-2019 год
