extends ../../main.pug

block variables
    - var bodyClass = 'home'

block main
    // slider start
    include ../../blocks/slider/slider.pug
    // slider end
    
    // achievements start
    include ../../blocks/achievements/achievements.pug
    // achievements end
    
    // our-products start
    include ../../blocks/our-products/our-products.pug
    // our-products end
    
    // process start
    include ../../blocks/process/process.pug
    // process end
    
    // quality start
    include ../../blocks/quality/quality.pug    
    // quality end
        
    // cooperate start
    include ../../blocks/cooperate/cooperate.pug
    // cooperate end
    
    // work-with-us start
    include ../../blocks/work-with-us/work-with-us.pug
    // work-with-us end
    
    // our-clients start
    include ../../blocks/our-clients/our-clients.pug
    // our-clients end
    
    // request start
    include ../../blocks/request/request.pug
    // request end
    
    // appeal start
    include ../../blocks/appeal/appeal.pug
    // appeal end
