section.reserve
    .container
        .row
            .col-xs-12
                h2.heading-2 Производственные запасы
        .row.reserve__row
            hr
            .reserve__col.col-lg-4
                p <strong>В 1981 году</strong> институтом Гипротранспуть была произведена доразведка «Ломовского» месторождения габбро-диабазов
            .reserve__col.reserve__col_left.col-lg-4
                div
                    p Протоколом <strong>№ 8804 от 07.08.1981 г.</strong> ГКЗ утвердила балансовые запасы месторождения в количестве <strong>33 553 тыс м<sup>3</sup> по категории А, В и С1, категории С2 в количестве 17472 тыс м<sup>3</sup></strong>
                    p <strong>В 2007 году</strong> запасы составляли <strong>27 896 тыс м<sup>3</sup>,</strong> скальная вскрыша <strong>7 566 тыс м<sup>3</sup>,</strong> рыхлая вскрыша <strong>509 м<sup>3</sup>.</strong>
            .reserve__col.reserve__col_right.col-lg-4
                div
                    p На разработку карьера выдана <strong>лицензия на право пользования недрами «ПЕМ №815 ТЭ».</strong>
                    p Запасы на <strong>2015 год</strong> составляют около <strong>26 330 тыс м<sup>3</sup>.</strong> Срок полной отработки указанного количества горной породы - 40 лет.
